<?xml version="1.0" encoding="UTF-8"?>
<TableInfo>
    <FileName>cim_e_his</FileName>
    <FileExt>DT</FileExt>
    <TableName>SDXNY_SYS.BCT_FT_FTDZGL</TableName>
    <Length>-1</Length>
    <Split>        </Split>
    <TagName>Breaker</TagName>
    <Charset>GB2312</Charset>
    <DataColumn>Alisa</DataColumn>
    <System>推送时间</System>
    <Columns>
        <ColumnInfo><Index>1</Index><Name>DZMC</Name><Alisa>厂站名</Alisa><DataType>VARCHAR2(42)</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>2</Index><Name>SBMC</Name><Alisa>厂站ID</Alisa><DataType>VARCHAR2(18)</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>3</Index><Name>BWSW</Name><Alisa>开关名</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>4</Index><Name>BWGL</Name><Alisa>开关ID</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>5</Index><Name>P</Name><Alisa>P</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>6</Index><Name>P_qual</Name><Alisa>P_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>7</Index><Name>Q</Name><Alisa>Q</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>8</Index><Name>Q_qual</Name><Alisa>Q_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>9</Index><Name>I</Name><Alisa>I</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>10</Index><Name>I_qual</Name><Alisa>I_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>11</Index><Name>KGZT</Name><Alisa>开关状态(1:合上0:打开)</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>12</Index><Name>TSSJ</Name><Alisa>推送时间</Alisa><DataType>TIMESTAMP</DataType></ColumnInfo>
    </Columns>
</TableInfo>