<?xml version="1.0" encoding="UTF-8"?>
<TableInfo>
    <FileName>cim_e_his</FileName>
    <FileExt>DT</FileExt>
    <TableName>SDXNY_SYS.BCT_FT_FTDZGL1111111</TableName>
    <Length>-1</Length>
    <Split>        </Split>
    <TagName>Disconnector</TagName>
    <Charset>GB2312</Charset>
    <DataColumn>Alisa</DataColumn>
    <System>推送时间</System>
    <Columns>
        <ColumnInfo><Index>1</Index><Name>DZMC</Name><Alisa>厂站名</Alisa><DataType>VARCHAR2(42)</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>2</Index><Name>SBMC</Name><Alisa>厂站ID</Alisa><DataType>VARCHAR2(18)</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>3</Index><Name>BWSW</Name><Alisa>刀闸名称</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>4</Index><Name>BWGL</Name><Alisa>刀闸ID</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>5</Index><Name>P</Name><Alisa>YX</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>6</Index><Name>P_qual</Name><Alisa>STATUS</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>7</Index><Name>TSSJ</Name><Alisa>推送时间</Alisa><DataType>TIMESTAMP</DataType></ColumnInfo>
    </Columns>
</TableInfo>